{# layout_content_type/templates/page--layoutct.html.twig
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 *   parts/site-navbar.html.twig
 *   - page.header_first: First half of headery, typically for site branding.
 *   - page.header_second: Second half of header, typically for search and
 *     site links.
 *
 *   parts/menu-navbar.html.twig
 *   - page.menu_navbar: Primary site navigation
 *
 *   page.html.twig
 *   - page.post_nav: Full width region preceding content.
 *   - page.highlighted: Items for the highlighted content region.
 *   - page.breadcrumb: Items for the breadcrumb region.
 *   - page.content: The main content of the current page.
 *
 *   footer.html.twig
 *   - page.footer_first: Items for first footer region
 *   - page.footer_second: Items for second footer region
 *   - page.footer_third: Items for third footer region
 *   - page.footer_fourth: Items for fourth footer region
 *   - page.sign_off: For small end-of-page items.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="isu-page-wrap">

  {# The ISU Navbar may be disabled in theme settings #}
  {% if isu_navbar %}
    {% include '@iastate_theme/parts/isu-navbar.html.twig' %}
  {% endif %}

  {# site-navbar.html.twig contains branded ISU header #}
  {% include '@iastate_theme/parts/site-navbar.html.twig' %}

  {# menu-navbar.html.twig contains the main menu #}
  {% include '@iastate_theme/parts/menu-navbar.html.twig' %}

  <main class="isu-main county-impact-report" role="main">

    <a id="main-content" tabindex="-1"></a>

    {% if page.post_nav %}
 {{ page.post_nav }}
    {% endif %}

    {{ page.breadcrumbs }}

    <div class="row">

      {% if page.sidebar_first|render and page.sidebar_second|render %}
        {% set content_classes = 'col-lg-6' %}
        {% set sidebar_classes = 'col-lg-3' %}
      {% elseif page.sidebar_first|render or page.sidebar_second|render %}
        {% set content_classes = 'col-lg-9' %}
        {% set sidebar_classes = 'col-lg-3' %}
      {% else %}
        {% set content_classes = 'col-lg-12' %}
      {% endif %}

      {% if page.sidebar_first|render %}
        <div class="isu-page-column isu-sidebar isu-sidebar-first {{sidebar_classes}}">
          <aside role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}


      {% if page.content|render %}
<div class="d-none d-print-block impact-print-wrapper">
<div class="county-impact-hero d-none d-print-block"><img src="{{ theme_path }}/images/real-impact-print-banner.png" alt="{{ site_name }}'s Real Impact - a report for stakeholders"></div>
<h1 class="d-none d-print-block">{{ node.label }}</h1>
</div>
<div class="county-impact-hero d-print-none"><img src="{{ theme_path }}/images/real-impact-banner.png" alt="{{ site_name }}'s Real Impact - a report for stakeholders"></div>
<div class="isu-region isu-region_content">
<div id="block-iastate-theme-content--2" class="isu-block">
  <article class="contextual-region node node--type-county-impact-report node--view-mode-full">
    <div class="county-impact-report-contact">
      <div class="layout layout--base--twocols layout--base--twocols-- layout--background--gray layout--background-attachment--default layout--background-position--center layout--background-size--cover layout--background-overlay--none layout--top-bottom-padding--big layout--left-right-padding--small layout--container--none layout--content-container--default layout-height-default layout--color--default layout--column-gap--default layout--row-gap--none layout--column-breakpoint--medium layout--column-width--75-25 layout--align-items--normal layout-builder-base--two-columns layout--twocol">
        <div class="layout-content">
          <div class="layout__region layout__region--first">
            <div class="isu-block">
              <div><p>Iowa State University Extension and Outreach delivers education, facilitates collaboration, and sparks action for Iowans. This report shares examples of ISU Extension and Outreach making a difference and creating real impact in {{ site_name }}.</p></div>
            </div>
          </div>
          <div class="layout__region layout__region--second">
            <div class="isu-block">
              <div>
                <p><a class="btn btn-secondary d-print-none" href="{{ base_path }}staff">County Staff</a></p>
                <p class="d-none d-print-block"><span style="text-decoration: underline">County Staff</span><br><span style="font-size: .9rem;">https://www.extension.iastate.edu{{ base_path }}staff</span></p>
                <p><a class="btn btn-secondary d-print-none" href="{{ base_path }}extension-council">County Council</a></p>
                <p class="d-none d-print-block"><span style="text-decoration: underline">County Council</span><br><span style="font-size: .9rem;">https://www.extension.iastate.edu{{ base_path }}extension-council</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
</div>
        {{ page.content }}
<div class="isu-region isu-region_content">
<div id="block-iastate-theme-content--2" class="isu-block">
  <article class="contextual-region node node--type-county-impact-report node--view-mode-full">
    <div class="impact-story-stats-two">
      <div class="layout layout--base--threecols layout--base--threecols-- layout--background--none layout--background-attachment--default layout--background-position--center layout--background-size--cover layout--background-overlay--none layout--top-bottom-padding--big layout--left-right-padding--small layout--container--none layout--content-container--default layout--height--default layout--color--default layout--column-gap--default layout--row-gap--none layout--column-breakpoint--medium layout--column-width--default layout--align-items--normal layout-builder-base--three-columns layout--fourcol">
        <div class="layout-content">
          <div class="layout__region layout__region--first">
            <div class="isueo-callout-stat isu-block">
              <div class="text-align-center">
                <p class="d-print-none"><img loading="lazy" src="https://photos.smugmug.com/WORDMARKS/Primary-4-HExtension/CloverEmblem/White/High-Res/i-kxnLLqT/0/MZxc3sZwVCcfLC829w2Sv8R4C2N9zbbcqhRVRF8L7/D/Clover_Wht-D.png" alt="4-H clover emblem" style="height:4.5rem"></p>
                <p class="d-none d-print-block"><img loading="lazy" src="https://photos.smugmug.com/WORDMARKS/Primary-4-HExtension/CloverEmblem/Green/No-Border/High-Res/i-4XFdgtJ/0/LRjBkvb7ZT7bGSzTT4rms9FgQLpnX4J8VXqP6Zd55/D/Clover_NoBorder1080-D.png" alt="4-H clover emblem" style="height:4.5rem"></p>
                <h3 class="impact_statistic__title">{{ youth }}</h3>
                <p class="impact_statistic__text">Youth reached</p>
              </div>
            </div>
          </div>
          <div class="layout__region layout__region--second">
            <div class="isueo-callout-stat isu-block">
              <div class="text-align-center">
                   <p><svg class="svg-inline--fa fa-person-circle-question fa-4x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="person-circle-question" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M208 48c0 26.5-21.5 48-48 48s-48-21.5-48-48s21.5-48 48-48s48 21.5 48 48zM152 352V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V256.9L59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l58.3-97c17.4-28.9 48.6-46.6 82.3-46.6h29.7c33.7 0 64.9 17.7 82.3 46.6l44.9 74.7c-16.1 17.6-28.6 38.5-36.6 61.5c-1.9-1.8-3.5-3.9-4.9-6.3L232 256.9V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V352H152zM432 512c-79.5 0-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144s-64.5 144-144 144zm0-48c13.3 0 24-10.7 24-24s-10.7-24-24-24s-24 10.7-24 24s10.7 24 24 24zM368 321.6V328c0 8.8 7.2 16 16 16s16-7.2 16-16v-6.4c0-5.3 4.3-9.6 9.6-9.6h40.5c7.7 0 13.9 6.2 13.9 13.9c0 5.2-2.9 9.9-7.4 12.3l-32 16.8c-5.3 2.8-8.6 8.2-8.6 14.2V384c0 8.8 7.2 16 16 16s16-7.2 16-16v-5.1l23.5-12.3c15.1-7.9 24.5-23.6 24.5-40.6c0-25.4-20.6-45.9-45.9-45.9H409.6c-23 0-41.6 18.6-41.6 41.6z"></path></svg></p>
                <h3 class="impact_statistic__title">{{ volunteer_hours }}</h3>
                <p class="impact_statistic__text">Volunteer hours</p>
              </div>
            </div>
          </div>
          <div class="layout__region layout__region--third">
            <div class="isueo-callout-stat isu-block">
              <div class="text-align-center">
                <p><svg class="svg-inline--fa fa-clock fa-4x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 512C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path></svg></p>
                <h3 class="impact_statistic__title">${{ volunteer_value }}</h3>
                <p class="impact_statistic__text">Value of volunteer time</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </article>
  </div>
</div>

      {% endif %}

      {% if page.sidebar_second|render %}
        <div class="isu-page-column isu-sidebar isu-sidebar-second {{sidebar_classes}}">
          <aside role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}

    </div>

  </main>

  {% include '@iastate_theme/parts/footer.html.twig' %}

</div>

